# 1-mysql-0731am

## 1-1 练习

（1）、请关闭MySQL服务：sudo /etc/init.d/mysql stop

（2）、请开启MySQL服务c：sudo /etc/init.d/mysql start

（3）、创建一个数据库myDB，并在库中创建表myexcel，表中的字段分别为：

name varchar（20），phnumber int，height int，liking varchar（25）

create database myDB；

## 1-2 Day01回顾

1、MySQL特点：
1）、关系型数据库
2）、跨平台
3）、支持多种编程语言

2、启动连接

sudo /etc/init.d/mysql start|stop|restart|status

MySQL中数据是以文件形式存放在数据库目录 /var/lib/MySQL

关系型数据库的核心内容是 关系 即 二维表

3、基本SQL命令：

1）、库管理：

show databases； 显示表

create database 库名 character set latin1；创建库

select database（）；

use 库名

show tables；

drop database 库名

2）、表管理：

create table 表名（字段名 数据类型，....） char....；

show create table 表名；（字符集、存储引擎）；

desc 表名；

drop table 表1 ，表2 ， 表3

3）、表记录管理

插入记录：
insert into 表名（字段1，....） value （值1），...；

查询记录
select 字段1， 字段2， ... from 表名 where 条件；

4）、如何更改默认字符集

(1)、sudo -i

(2)、cd /etc/mysql/mysql.conf.d/

(3)、cp mysqld.cnf mysqld.cnf,bak

(4)、
vi mysqld.cnf

[vi mysql.cnf]
   
character_set_server = utf8
   
(5)、
/etc/init.d/mysql request|reload

(6)





"阅读目录 ======================"


1.开启和关闭
1.1.开启
1.2.关闭
1.3.重启
2.登录
2.1.密码明文
2.2.密码密文
3.修改密码
3.1.SET PASSWORD命令（需登录）
3.2.使用sql语句更新 mysql 库中的 user 表（需登录）
3.3.mysqladmin命令，明文（不需登录）
3.4.mysqladmin命令，密文（不需登录）
4.常用操作（需登录）
4.1.显示数据库列表
4.2.创建、删除数据库
4.3.显示库中的数据表
4.4.显示数据表结构
5.导入、导出数据库（不需登录）
5.1.导出所有数据库
5.2.导出指定数据库
5.3.导出指定数据库的结构（无数据）
5.4.导出指定数据库中的指定表
5.5.导出指定数据库中的指定表的结构（无数据）
5.6.导出指定数据库中的指定表，设置查询条件
 5.7.跨服务器备份数据库
5.8.通过 sql 文件导入数据库
 

文章正文 ======================

回到顶部
1.开启和关闭
1.1.开启
　　service mysql start

1.2.关闭
　　service mysql stop

1.3.重启
　　service mysql restart

回到顶部
2.登录
2.1.密码明文
　　语法：mysql -u用户名 -p用户密码

　　举例：mysql -uroot -p123456

2.2.密码密文
　　语法：mysql -u用户名 -p+回车，然后输入密码

　　举例：mysql -uroot -p　　

　　

回到顶部
3.修改密码
3.1.SET PASSWORD命令（需登录）
　　语法：mysql> set password for 用户名@localhost = password('新密码');

　　举例：mysql>set password for root@localhost = password('123456');

3.2.使用sql语句更新 mysql 库中的 user 表（需登录）
　　mysql> use mysql; 

　　mysql> update user set password=password('123') where user='root' and host='localhost'; 

　　mysql> flush privileges;

3.3.mysqladmin命令，明文（不需登录）
　　语法：mysqladmin -u用户名 -p旧密码 password 新密码

　　举例：mysqladmin -uroot -p123 password 123456

3.4.mysqladmin命令，密文（不需登录）
　　语法：mysqladmin -u用户名 -p旧密码 password+回车，然后输入两次新密码

　　举例：mysqladmin -uroot -p123 password

　　

回到顶部
4.常用操作（需登录）
4.1.显示数据库列表
　　show databases;

4.2.创建、删除数据库
　　create database 数据库名;

　　drop database 数据库名;

4.3.显示库中的数据表
　　use mysql;

　　show tables;

4.4.显示数据表结构
　　describe 数据表名;

 

回到顶部
5.导入、导出数据库（不需登录）
5.1.导出所有数据库
　　语法：mysqldump -u用户名 -p密码 --all-databases >导出路径

　　举例：mysqldump -uroot -p123456 --all-databases >/tmp/all.sql

5.2.导出指定数据库
　　语法：mysqldump -u用户名 -p密码 --databases 数据库名>导出路径

　　举例：mysqldump -uroot -p123456 --databases testdatebase >/tmp/testdatebase.sql

5.3.导出指定数据库的结构（无数据）
　　语法：mysqldump -u用户名 -p密码 --no-data --databases 数据库名>导出路径

　　举例：mysqldump -uroot -p123456 --no-data --databases testdatebase  >/tmp/testdatebase_no_data.sql

5.4.导出指定数据库中的指定表
　　语法：mysqldump -u用户名 -p密码 --databases 数据库名 --tables 数据表名>导出路径

　　举例：mysqldump -uroot -p123456 --databases testdatebase --tables t_user >/tmp/testdatebase_user.sql

5.5.导出指定数据库中的指定表的结构（无数据）
　　语法：mysqldump -u用户名 -p密码 --no-data --databases 数据库名 --tables 数据表名>导出路径

　　举例：mysqldump -uroot -p123456 --no-data --databases testdatebase --tables t_user >/tmp/testdatebase_user_no_data.sql

5.6.导出指定数据库中的指定表，设置查询条件
　　语法：mysqldump -u用户名 -p密码 --databases 数据库名 --tables 数据表名 --where='条件'>导出路径

　　举例：mysqldump -uroot -p123456 --databases testdatebase --tables t_user --where='user_no=1'>/tmp/mysql_user_no.sql

 5.7.跨服务器备份数据库
　　将 host1 服务器中的 db1 数据库的所有数据导入到 host2 中的db2数据库中，db2的数据库必须存在否则会报错

　　（经测试，在mysql5.5版本中，db2存在即可，实际生成数据库名称与db1一致；加上-C参数可以启用压缩传递）

　　语法：mysqldump --host=host1 -u用户名 -p密码 --databases db1 |mysql --host=host2 -u用户名 -p密码 --databases db2

　　举例：mysqldump --host=192.168.1.101 -uroot -p123456 -C --databases testdatebase |mysql --host=192.168.3.102 -uroot -p123456 --database testdatebase

5.8.通过 sql 文件导入数据库
　　语法：mysql -u用户名 -p密码 < 导入路径
　　举例：mysql -uroot -p123456 < /tmp/testdatebase.sql